In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow import keras

In [2]:
url = "/content/sample_data/app.csv"
dataset = pd.read_csv(url)

In [3]:
dataset.head(4)

  Q1 Q2 Q3 Q4 Q5 Q6 Q7 Q8 Q9 Q10
0  b  a  a  a  a  b  a  a  b   b
1  b  a  b  b  a  a  b  a  b   b
2  a  b  a  a  b  b  b  a  a   b
3  a  b  b  b  b  a  a  a  b   a

Row 0: Boy 1

Row 1: Girl 1

Row 2: Boy 2

Row 3: Girl 2

In [4]:
ds = dataset.replace({'a': 0.0, 'b': 1.0})

In [5]:
ds.head(6)

    Q1   Q2   Q3   Q4   Q5   Q6   Q7   Q8   Q9  Q10
0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0
1  1.0  0.0  1.0  1.0  0.0  0.0  1.0  0.0  1.0  1.0
2  0.0  1.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0  1.0
3  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0

In [8]:
boy1 = list(ds.loc[0])
girl1 = list(ds.loc[1])
print(boy1)
print(girl1)


cosine_loss = tf.keras.losses.CosineSimilarity(axis=0)

probability_of_boy1_girl1 = cosine_loss(boy1, girl1).numpy()

if probability_of_boy1_girl1 < 0:
  print("Matching probability of boy1 and girl1 is: ", -probability_of_boy1_girl1)
else:
  print("They are no match between boy1 and girl1")

[1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0]
[1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0]
Matching probability of boy1 and girl1 is:  0.6123724

In [10]:
boy2 = list(ds.loc[2])
girl2 = list(ds.loc[3])
print(boy2)
print(girl2)


cosine_loss = tf.keras.losses.CosineSimilarity(axis=0)

probability_of_boy2_girl2 = cosine_loss(boy2, girl2).numpy()

if probability_of_boy2_girl2 < 0:
  print("Matching probability of boy2 and girl2 is: ", -probability_of_boy2_girl2)
else:
  print("They are no match between boy2 and girl2")

[0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0]
[0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0]
Matching probability of boy1 and girl1 is:  0.39999998

##If Cosine similarity value is near to the -1, it means the similarities are higher between b1 & g1 and their profiles are a good match.

In [17]:
b1 = [1., 0., 0., 0., 0., 1., 0., 0., 1., 1.]
g1 = [1., 0., 1., 1., 0., 0., 1., 0., 1., 1.]
b2 = [0., 1., 0., 0., 1., 1., 1., 0., 0., 1.]
g2 = [0., 1., 1., 1., 1., 0., 0., 0., 1., 0.]
cosine_loss = tf.keras.losses.CosineSimilarity()

print("---------------These are Cosine Values---------------")
print("Cosine similaritites values of b1 & g1: ", cosine_loss(b1, g1).numpy())
print("Cosine similaritites values of b1 & g2: ", cosine_loss(b1, g2).numpy())

print("Cosine similaritites values of b2 & g1: ", cosine_loss(b2, g1).numpy())
print("Cosine similaritites values of b2 & g2: ", cosine_loss(b2, g2).numpy())

---------------These are Cosine Values---------------
Cosine similaritites values of b1 & g1:  -0.6123724
Cosine similaritites values of b1 & g2:  -0.2236068
Cosine similaritites values of b2 & g1:  -0.36514837
Cosine similaritites values of b2 & g2:  -0.39999998