In [1]:
import pandas as pd
print(pd.__version__)

1.1.3

In [2]:
mylist = []
chunksize = 10000
for chunk in pd.read_csv("products.csv", chunksize=chunksize):
    mylist.append(chunk)

In [3]:
len(mylist)

50

In [4]:
mylist[0]

,name,sku,description
0,Bryce Jones,lay-raise-best-end,Art community floor adult your single type. Pe...
1,John Robinson,cup-return-guess,Produce successful hot tree past action young ...
2,Theresa Taylor,step-onto,Choice should lead budget task. Author best me...
3,Roger Huerta,citizen-some-middle,Important fight wrong position fine. Friend so...
4,John Buckley,term-important,Alone maybe education risk despite way.\nWant ...
...,...,...,...
9995,William Hernandez,president-face-it,Mind court late worry surface. Over long bill ...
9996,Steven Small,while-arrive,Thing cell wonder until organization cup. Team...
9997,Sue Lee,few-probably-adult,Point usually you lose price down simply custo...
9998,Timothy Ruiz,could-nothing-tell,Community environmental technology all actuall...
9999,Teresa Pace,fall-because-rich,Benefit process west put. Foreign process eith...

In [5]:
mylist[49]

,name,sku,description
490000,Brandon Garcia,foreign-price-dream,Floor some what analysis them explain. Enough ...
490001,Kristen Garner,law-past-our-meet,Concern history century purpose. Have then hol...
490002,Thomas Adkins,bad-home-war-team,Foot official while sister material best. Tv c...
490003,Kyle Bowman,describe-case-unit,Follow next but question skill exist. Spend wh...
490004,Shelly Taylor,walk-bill,Specific letter imagine me indicate system. La...
...,...,...,...
499995,Amy Williams,clear-understand,Generation piece summer church. Maintain model...
499996,Mandy Vang,decide-half-see,Chance rather together lot southern stay read....
499997,David Norman,light-us-citizen,Oil successful seem enter financial. Book site...
499998,Zachary Simmons,above-staff-work-be,He adult common available view minute. Lot qui...
499999,Tracey Hoffman,consider-top-head,Interesting prove my left. Home wish must mone...

In [6]:
df = pd.concat(mylist, axis=0)

In [7]:
df.shape

(500000, 3)

In [8]:
df.head()

,name,sku,description
0,Bryce Jones,lay-raise-best-end,Art community floor adult your single type. Pe...
1,John Robinson,cup-return-guess,Produce successful hot tree past action young ...
2,Theresa Taylor,step-onto,Choice should lead budget task. Author best me...
3,Roger Huerta,citizen-some-middle,Important fight wrong position fine. Friend so...
4,John Buckley,term-important,Alone maybe education risk despite way.\nWant ...

In [9]:
df.isnull().sum()

name           0
sku            0
description    0
dtype: int64

In [11]:
#importing sql library
from sqlalchemy import create_engine

# create a referrence
# for sql library
engine = create_engine('sqlite://', echo = False)
df.to_sql('Products', con = engine, if_exists='append', index = False)